<h1>Welcome to Yash</h1>
<!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button> -->
<a mat-button routerLink="steeper" routerLinkActive="active">Registration</a>
<router-outlet></router-outlet>
<!-- <section>
	<h3>Present Address</h3>
	<textarea cols="60" rows="8" (keyup)="onKeyUp($event)"></textarea>

	<div>
		{{numberOfCharacters1}} / {{maxNumberOfCharacters}}
	</div>
</section>
<section>
	<h3>Permanent Address</h3>
	<textarea cols="60" rows="8" (keyup)="onKeyUp($event)"></textarea>

	<div>
		{{numberOfCharacters1}} / {{maxNumberOfCharacters}}
	</div>
</section> -->
