<h1>Employee Details</h1>
<div class="container">
    <table class="table table-striped">
        <tr>
            <td>Id</td>
            <td>Employee Name</td>
            <td>Mobile Number</td>
            <td>Address</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
        <!-- <tr *ngFor="let e of allProperty">
            <td>{{e.id}}</td>
            <td>{{e.name}}</td>
            <td>{{e.mob}}</td>
            <td>{{e.addr}}</td>
        </tr> - -->
    </table>
</div>
