.header1{
    text-align: center;
    color: blue;
    font-style: Georgia;
    font-style: Bold;
    font-size: 24px;
    letter-spacing: 1.6m;
    background-color: gray;
    }
.per
{
    color: darkred;
    font-style: Georgia;
    font-size: 18px;
    letter-spacing: 1.4m;

}